* {
    box-sizing: border-box;
}
html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/src/assets/Background/6-sky.gif');
    background-size: cover;
    position: fixed;
}

.Button {
    display: flex;
    color: #000000;
    margin: 0;
    padding: 0;
    height: 1px;
    width: 1px;
}

#images *{
    z-index: 1000;
    position: absolute;
}