* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('./assets/Background/6-sky.gif');
    background-size: cover;
    position: fixed;
}



.nav {
    display: flex;
    margin-top: -300px;
    margin-left: -550px;
    padding: 0;
    flex-flow: row;
    justify-self: left;
}

ul {
    display: flex;
    position: absolute;
    gap: 30px;
}

.btn {
    display: flexbox;
    margin: 0;
    padding: 0;
    height: 20rem;
    width: 15rem;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.button1 {
    background-image: url('./assets/Buttons/ianua-ai-star-icon.png');
    background-size: cover;
}
.button2 {
    background-image: url('./assets/Buttons/blog-star-icon.png');
    background-size: cover;
}
.button3 {
    background-image: url('./assets/Buttons/about-us-star-icon.png');
    background-size: cover;
}
.button4 {
    background-image: url('./assets/Buttons/path-of-sol-star-icon.png');
    background-size: cover;
}